* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    width: 100%;
}

.item {
    background-color: blueviolet;
    border-radius: 20px;
    text-align: center;
}

.task {
    display: grid;
    height: 70px;
}

.task1 {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 40px 40px 40px;
}

.task1_1 {
    grid-area: 1 / 1 / 4 / 3;
}

.task1_2 {
    grid-area: 1 / 3 / 2 / 5;
}

.task1_5 {
    grid-area: 2 / 4 / 4 / 5;
}



/* ====================================== */
/* TASK 2 */

.task2 {
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 40px 40px 40px;
}

.task2_1 {
    grid-area: 1 / 1 / 2 / 4;
}

.task2_2 {
    grid-area: 1 / 4 / 2 / 6;
}

.task2_3 {
    grid-column-start: 5;
}

.task2_4 {
    grid-column-start: 4;
    grid-row-start: 2;
}

.task2_5 {
    grid-column-start: 4;
}



/* ====================================== */
/* TASK 3 */

.task3 {
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.task3_1 {
    grid-area: 2 / 1 / 4 / 4;
}

.task3_2 {
    grid-area: 1 / 4 / 2 / 6;
}

.task3_3 {
    grid-area: 3 / 5 / 5 / 6;
}

.task3_4 {
    grid-area: 2 / 4 / 4 / 5;
}

.task3_5 {
    grid-area: 4 / 4 / 7 / 5;
}




/* ====================================== */
/* TASK 4 */

.task4 {
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.task4_1 {
    grid-area: 3 / 1 / 4 / 4;
}

.task4_2 {
    grid-area: 1 / 4 / 2 / 6;
}

.task4_3 {
    grid-area: 3 / 5 / 4 / 6;
}

.task4_4 {
    grid-area: 2 / 4 / 3 / 5;
}

.task4_5 {
    grid-area: 3 / 4 / 4 / 5;
}


/* ====================================== */
/* TASK 5 */

.task5 {
    grid-template-columns: 30px 30px 30px;
    grid-template-rows: 1fr 1fr 1fr;
}

.task5_1 {
    grid-area: 1 / 1 / 4 / 2;
}

.task5_2 {
    grid-area: 1 / 2 / 2 / 4;
}

.task5_3 {
    grid-area: 2 / 3 / 4 / 4;
}

.task5_4 {
    grid-area: 2 / 2 / 3 / 3;
}

.task5_5 {
    grid-area: 3 / 2 / 4 / 3;
}



/* ====================================== */
/* TASK 6 */

.task6 {
    justify-content: center;
    width: 100%;
    grid-template-columns: 30px 30px 30px;
    grid-template-rows: 1fr 1fr 1fr;
}

.task6_1 {
    grid-area: 1 / 1 / 4 / 2;
}

.task6_2 {
    grid-area: 1 / 2 / 2 / 4;
}

.task6_3 {
    grid-area: 2 / 3 / 4 / 4;
}

.task6_4 {
    grid-area: 2 / 2 / 3 / 3;
}

.task6_5 {
    grid-area: 3 / 2 / 4 / 3;
}






/* ====================================== */
/* TASK 7 */

.task7 {
    justify-content: flex-end;
    width: 100%;
    grid-template-columns: 30px 30px 30px;
    grid-template-rows: 1fr 1fr 1fr;
}

.task7_1 {
    grid-area: 1 / 1 / 4 / 2;
}

.task7_2 {
    grid-area: 1 / 2 / 2 / 4;
}

.task7_3 {
    grid-area: 2 / 3 / 4 / 4;
}

.task7_4 {
    grid-area: 2 / 2 / 3 / 3;
}

.task7_5 {
    grid-area: 3 / 2 / 4 / 3;
}






/* ====================================== */
/* TASK 8 */

.task8 {
    justify-content: space-between;
    width: 100%;
    grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
    grid-template-rows: 1fr 1fr 1fr;
}

.task8_1 {
    grid-area: 1 / 1 / 4 / 7;
}

.task8_2 {
    grid-area: 1 / 9 / 2 / 13;
}

.task8_3 {
    grid-area: 2 / 11 / 4 / 13;
}

.task8_4 {
    grid-area: 2 / 9 / 3 / 10;
}

.task8_5 {
    grid-area: 3 / 9 / 4 / 10;
}

.task8_6 {
    grid-area: 3 / 2 / 4 / 3;
}




/* ====================================== */
/* TASK 9 */

.task9 {
    width: 100%;
    border: red 1px solid;
    height: 200px;
    grid-template-rows: 20% 20% 20%;
}

.task9_1 {
    grid-area: 1 / 1 / 4 / 7;
}

.task9_2 {
    grid-area: 1 / 7 / 2 / 13;
}

.task9_3 {
    grid-area: 2 / 10 / 4 / 13;
}

.task9_4 {
    grid-area: 2 / 7 / 3 / 10;
}

.task9_5 {
    grid-area: 3 / 7 / 4 / 10;
}




/* ====================================== */
/* TASK 10 */

.task10 {
    width: 100%;
    border: red 1px solid;
    align-content: center;
    height: 200px;
    grid-template-rows: 20% 20% 20%;
}

.task10_1 {
    grid-area: 1 / 1 / 4 / 7;
}

.task10_2 {
    grid-area: 1 / 7 / 2 / 13;
}

.task10_3 {
    grid-area: 2 / 10 / 4 / 13;
}

.task10_4 {
    grid-area: 2 / 7 / 3 / 10;
}

.task10_5 {
    grid-area: 3 / 7 / 4 / 10;
}





/* ====================================== */
/* TASK 11 */

.task11 {
    width: 100%;
    border: red 1px solid;
    align-content: space-between;
    height: 200px;
    grid-template-rows: 20% 20% 20%;
}

.task11_1 {
    grid-area: 1 / 1 / 4 / 7;
    
}

.task11_2 {
    grid-area: 1 / 7 / 2 / 13;
}

.task11_3 {
    grid-area: 2 / 10 / 4 / 13;
}

.task11_4 {
    grid-area: 2 / 7 / 3 / 10;
}

.task11_5 {
    grid-area: 3 / 7 / 4 / 10;
}